/* .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Align items on both sides (logo and links) */
    /* align-items: center;            /* Vertically center the items */
    /* padding: 10px 20px; */
    /* background-color: #381cb6;         Background color of the navbar
}  */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.nav-items {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #6F6AF7;
    width: 100vw;
    height: 80px; /* 5vw (assuming a base font-size of 16px) */
    align-items: center;
    z-index: 1;
}

.nav-center {
    display: flex;
    gap: 96px; /* 6rem */
    font-family: 'DM Sans', sans-serif;
    align-items: center;
}

.nav-font {
    font-size: 24px; /* 1.5rem */
}

.name p {
    font-size: 56px; /* 3.5rem */
    font-family: 'Delius Unicase', cursive;
}

.name {
    padding-left: 24px; /* 1.5rem */
}

.menu {
    padding-right: 24px; /* 1.5rem */
    font-size: 24px; /* 1.5rem */
}

.search-container {
    display: flex;
    align-items: center;
    border: 2px solid #ccc; /* 0.125rem */
    border-radius: 25px; /* 1.5625rem */
    overflow: hidden; /* Ensures button and input stay together inside the container */
}

.search-input {
    border: none;
    outline: none; /* Remove default input outline */
    flex-grow: 1; /* This ensures the input grows to fill available space */
    height: 32px; /* 2rem */
    width: 256px; /* 16rem */
    font-size: 15px; /* 0.9375rem */
    padding-left: 10px; /* 0.625rem */
}

.search-button {
    border: none;
    outline: none;
    height: 32px; /* 2rem */
    width: 48px; /* 3rem */
    background-color: white;
}

.left-box {
    position: relative;
    left: 80px; /* 5rem */
    top: 160px; /* 10rem */
    width: 456px; /* 28.5rem */
    height: 507px; /* 31.6875rem */
}

.right-box {
    width: 972px; /* 60.75rem */
    height: 507px; /* 31.6875rem */
    background-color: #E5D8FF;
    position: relative;
    bottom: 324px; /* 20.25rem */
    left: 640px; /* 40rem */
    border: 6px; /* 0.375rem */
    border-radius: 20px; /* 1.25rem */
    box-shadow: 3px 5px 27px rgba(0, 0, 0, 0.25) inset; /* 0.1875rem 0.3125rem 1.6875rem 0 */
}

.text {
    position: relative;
    top: 16px; /* 1rem */
    left: 16px; /* 1rem */
    font-family: DM Sans;
    font-size: 29px; /* 1.8125rem */
    font-weight: 400;
    line-height: 51.82px; /* 3.2375rem */
    color: rgba(111, 115, 115, 1);
}

.details {
    display: flex;
    gap: 72px; /* 4.5rem */
}

.size {
    width: 337px; /* 21.0625rem */
    height: 145px; /* 9.06125rem */
    position: relative;
    left: 76px; /* 4.75rem */
    bottom: 240px; /* 15rem */
    border-radius: 11px; /* 0.6875rem */
    box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.4); /* 0px 0.5625rem 1.9375rem 0 */
}

.question {
    background: rgba(146, 157, 255, 1);
}

.answer {
    background: rgba(115, 76, 242, 1);
}

.participants {
    background: rgba(210, 136, 255, 1);
}

.passed {
    background: rgba(0, 0, 0, 1);
}

.size p {
    font-family: DM Sans;
    font-size: 29px; /* 1.8125rem */
    font-weight: 700;
    line-height: 51.82px; /* 3.2375rem */
    letter-spacing: 0.04em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-left: 16px; /* 1rem */
    margin-top: 12px; /* 0.5rem */
}

.social-container {
    height: 3000px; /* 187.5rem */
    width: 100px; /* 6.25rem */
    position: relative;
    bottom: 880px; /* 55rem */
    float: right;
    right: 0; /* 0rem */
}

.socials {
    position: sticky;
    display: flex;
    flex-direction: column;
    top: 128px; /* 8rem */
}

.bot {
    position: fixed;
    width: 150px; /* 9.375rem */
    height: 150px; /* 9.375rem */
    top: 832px; /* 52rem */
    left: 1520px; /* 95rem */
    z-index: 1;
}

.info {
    background-color: rgba(72, 62, 255, 1);
    width: 1542px; /* 96.375rem */
    height: 717px; /* 44.6875rem */
    border-radius: 21px; /* 1.3125rem */
    opacity: 0px;
    position: relative;
    bottom: 160px; /* 10rem */
    left: 96px; /* 6rem */
}

.left-info {
    display: flex;
    flex-direction: column;
    gap: 96px; /* 6rem */
    position: relative;
    top: 64px; /* 4rem */
    left: 48px; /* 3rem */
}

.block {
    border-radius: 22px; /* 1.375rem */
    border: 5px solid white; /* 0.3125rem */
    opacity: 0px;
    width: 397px; /* 24.8125rem */
    height: 133px; /* 8.3125rem */
    text-align: center;
}

.text-type {
    font-family: DM Sans;
    font-size: 35px; /* 2.1875rem */
    font-weight: 700;
    line-height: 62.54px; /* 3.904rem */
    letter-spacing: 0.04em;
    margin-top: 30px; /* 1.85rem */
    color: white;
}

.selected {
    background: rgba(188, 224, 246, 1);
    box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.39); /* 0px 0.375rem 2.1875rem 0 */
    border-radius: 22px; /* 1.375rem */
    opacity: 0px;
    width: 397px; /* 24.8125rem */
    height: 133px; /* 8.3125rem */
    text-align: center;
}

.selected p {
    color: black;
}

.right-info {
    background-color: white;
    width: 1004px; /* 62.75rem */
    height: 656px; /* 41rem */
    float: right;
    border-radius: 19px; /* 1.1875rem */
    position: relative;
    right: 32px; /* 2rem */
    bottom: 560px; /* 35rem */
}

.contact {
    position: relative;
    top: 48px; /* 3rem */
    left: 32px; /* 2rem */
}

.information-text {
    font-family: Inter;
    font-size: 38px; /* 2.375rem */
    font-weight: 700;
    line-height: 46px; /* 2.874rem */
    letter-spacing: 1.68px; /* 0.105rem */
    text-align: left;
}

.marks {
    font-family: Inter;
    position: relative;
    left: 32px; /* 2rem */
    top: 48px; /* 3rem */
    display: flex;
    flex-direction: column;
    gap: 48px; /* 3rem */
}

span {
    display: flex;
    gap: 32px; /* 2rem */
}

.next {
    background-color: black;
    width: 150px; /* 9.375rem */
    height: 50px; /* 3.125rem */
    border-radius: 9px; /* 0.5625rem */
    display: flex;
    gap: 8px;
    align-items: center;
    position: relative;
    left: 800px; /* 2rem */
    top: 300px; /* 2rem */
}

.next p {
    color: white;
    padding-left: 28px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px; /* 1.625rem */
}

.next img {
    width: 35px; /* 35px */
    height: 18px; /* 18px */
}
